<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Test Page</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
<div id="output">
    <h1>AuthAPI - Api para a utenticação de usuários</h1>
    <div class="panel">
        <div class="panel-header">
            <h2>Get all users</h2>
        </div>
        <div class="panel-content">
            <div id="getall">
                <h2>Getting all users</h2>
                <button name="btnget" id="btnget">Show all users</button>
                <button id="btnhide">Hide all users</button>
                <div id="allusers"></div>
                <script>
                    document.getElementById('btnget').addEventListener('click', function () {
                        fetch('/users')
                            .then(response => response.json())
                            .then(data => {
                                let html = '';
                                data.forEach(user => {
                                    html += `<ul>
                                                <li>${user.name} ${user.email} ${user.role}</li>
                                            </ul>`;
                                });
                                document.getElementById('allusers').innerHTML = html;
                                document.getElementById('allusers').style.display = 'block';

                            })
                    });
                    document.getElementById('btnhide').addEventListener('click', function() {
                        document.getElementById('allusers').style.display = 'none';
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-header">
            <h2>Get user</h2>
        </div>
        <div class="panel-content">
            <div id="getuser">
                <h2>Getting user by e-mail</h2>
                <form action="/user" method="get">
                    <label for="useremail">E-mail:</label>
                    <input type="text" name="useremail" id="useremail" placeholder="e-mail">
                    <input type="submit" value="Get user">
                </form>
                <div id="user"></div>
                <script>
                    document.getElementById('getuser').addEventListener('submit', function (e) {
                        e.preventDefault();
                        fetch(`/user/${document.getElementById('useremail').value}`)
                            .then(response => response.json())
                            .then(data => {
                                document.getElementById('user').innerHTML = `<ul>
                            <li>${data.name} ${data.email} ${data.role} ${data._id}</li>
                        </ul>`;
                            })
                    })
                </script>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-header">
            <h2>Post user</h2>
        </div>
        <div class="panel-content">
            <div id="postuser">
                <h2>Creating a new user</h2>
                <form action="/user" method="post">
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" placeholder="name">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" id="email" placeholder="e-mail">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" placeholder="password">
                    <label for="cpassword">Confirm your password:</label>
                    <input type="password" name="cpassword" id="cpassword" placeholder="password confirmation">
                    <input type="submit" value="Create user">
                </form>
                <div id="newuser"></div>
                <script>
                    document.getElementById('postuser').addEventListener('submit', async function (e) {
                        e.preventDefault();
                        const name = document.getElementById('name').value;
                        const email = document.getElementById('email').value;
                        const password = document.getElementById('password').value;
                        console.log(name + ' ' + email + ' ' + password);
                        fetch('/user', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                name: name,
                                email: email,
                                password: password,
                                role: 'user'
                            })
                        })
                            .then(response => response.json())
                            .then(() => {
                                alert("User created successfully")
                                location.reload();
                            });
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-header">
            <h3>Delete user</h3>
        </div>
        <div class="panel-content">
            <div id="deluser">
                <h2>Deleting a user</h2>
                <form action="/user">
                    <label for="userdelete">E-mail:</label>
                    <input type="text" name="userdelete" id="userdelete" placeholder="e-mail">
                    <input type="submit" value="Delete user">
                </form>
                <script>
                    document.getElementById('deluser').addEventListener('submit', function (e) {
                        e.preventDefault();
                        try {
                            fetch(`/user/${document.getElementById('userdelete').value}`, {
                                method: 'DELETE'
                            })
                                .then(response => {
                                    if (response.status === 200) {
                                        alert('User deleted');
                                        location.reload();
                                    } else {
                                        alert('User not found');
                                    }
                                })

                        } catch (err) {
                            console.log(err);
                        }
                    })
                </script>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-header">
            <h3>Patch user</h3>
        </div>
        <div class="panel-content">
            <div id="patchuser">
                <h2>Updating a user</h2>
                <form action="/user">
                    <label for="userid">ID:</label>
                    <input type="text" name="userid" id="userid" placeholder="id">
                    <label for="updtname">Name:</label>
                    <input type="text" name="updtname" id="updtname" placeholder="name">
                    <label for="updtemail">E-mail:</label>
                    <input type="email" name="updtemail" id="updtemail" placeholder="e-mail">
                    <input type="submit" value="Update user">
                </form>
                <script>
                    document.getElementById('patchuser').addEventListener('submit', function (e) {
                        e.preventDefault();
                        fetch(`/user/${document.getElementById('userid').value}`, {
                            method: 'PATCH',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                name: document.getElementById('updtname').value,
                                email: document.getElementById('updtemail').value,
                                role: 'user'
                            })
                        })
                            .then(response => response.json())
                            .then(() => {
                                location.reload();
                            });
                    });
                </script>
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelectorAll('.panel-header').forEach(header => {
        header.addEventListener('click', () => {
            header.parentElement.classList.toggle('open');
        });
    });
</script>
</body>

</html>