<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Test Page</title>
    <!--link rel="stylesheet" href="/style.css"-->
</head>

<body>
    <h1>AuthAPI - Api para a utenticação de usuários</h1>
    <div id="output">
        <div id="getall">
            <h2>Getting all users</h2>
            <div id="allusers"></div>
            <script>
                fetch('/users')
                    .then(response => response.json())
                    .then(data => {
                        let html = '';
                        data.forEach(user => {
                            html += `<ul>
                            <li>${user.name} ${user.email} ${user.role}</li>
                        </ul>`;
                        });
                        document.getElementById('allusers').innerHTML = html;

                    })
            </script>
        </div>
        <div id="getuser">
            <h2>Getting user by e-mail</h2>
            <form action="/user" method="get">
                <label for="useremail">E-mail:</label>
                <input type="text" name="useremail" id="useremail" placeholder="e-mail">
                <input type="submit" value="Get user">
            </form>
            <div id="user"></div>
            <script>
                document.getElementById('getuser').addEventListener('submit', function (e) {
                    e.preventDefault();
                    fetch(`/user/${document.getElementById('useremail').value}`)
                        .then(response => response.json())
                        .then(data => {
                            document.getElementById('user').innerHTML = `<ul>
                            <li>${data.name} ${data.email} ${data.role} ${data._id}</li>
                        </ul>`;
                        })
                })
            </script>
        </div>
        <div id="postuser">
            <h2>Creating a new user</h2>
            <form action="/user" method="post">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" placeholder="name">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" placeholder="e-mail">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="password">
                <label for="cpassword">Confirm your password:</label>
                <input type="password" name="cpassword" id="cpassword" placeholder="password confirmation">
                <input type="submit" value="Create user">
            </form>
            <div id="newuser"></div>
            <script>
                document.getElementById('postuser').addEventListener('submit', function (e) {
                    e.preventDefault();
                    fetch('/user', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            name: document.getElementById('name').value,
                            email: document.getElementById('email').value,
                            password: document.getElementById('password').value,
                            role: 'user'
                        })
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            location.reload();
                            document.getElementById('newuser').innerHTML = `<ul>
                            <li>${data.name} ${data.email}</li>
                        </ul>`;
                        });
                });
            </script>
        </div>
        <div id="deluser">
            <h2>Deleting a user</h2>
            <form action="/user" method="delete">
                <label for="useremail">E-mail:</label>
                <input type="text" name="useremail" id="useremail" placeholder="e-mail">
                <input type="submit" value="Delete user">
            </form>
            <script>
                document.getElementById('deluser').addEventListener('submit', function (e) {
                    e.preventDefault();
                    try {
                        fetch(`/user/${document.getElementById('useremail').value}`, {
                            method: 'DELETE'
                        })
                            .then(response => {
                                if (response.status == 200) {
                                    alert('User deleted');
                                    location.reload();
                                } else {
                                    console.log(response.status);
                                    alert('User not found');
                                }
                            })

                    } catch (err) {
                        console.log(err);
                    }
                })
            </script>
        </div>
        <div id="patchuser">
            <h2>Updating a user</h2>
            <form action="/user" method="patch">
                <label for="id">ID:</label>
                <input type="text" name="userid" id="userid" placeholder="id">
                <label for="name">Name:</label>
                <input type="text" name="updtname" id="updtname" placeholder="name">
                <label for="email">E-mail:</label>
                <input type="email" name="updtemail" id="updtemail" placeholder="e-mail">
                <input type="submit" value="Update user">
            </form>
            <script>
                document.getElementById('patchuser').addEventListener('submit', function (e) {
                    e.preventDefault();
                    fetch(`/user/${document.getElementById('userid').value}`, {
                        method: 'PATCH',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            name: document.getElementById('updtname').value,
                            email: document.getElementById('updtemail').value,
                            role: 'user'
                        })
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            let html = '';
                            data.forEach(user => {
                                console.log(user);
                                html += `<ul>
                                    <li>${user.name} ${user.email} ${user.role}</li>
                                </ul>`;
                            });
                            document.getElementById('allusers').innerHTML = html;
                            //location.reload();
                        });
                });
            </script>
        </div>
    </div>

</body>

</html>